In [ ]:
RANGE

In [1]:
number = range(6)
print(number)

range(0, 6)

In [ ]:
LOOPS

In [ ]:
# While loop

In [5]:
i=1
while i<=6:
    print(i)
    i+=1

1
2
3
4
5
6

In [6]:
i=1
while i<=6:
    print(i * "*")
    i+=1

*
**
***
****
*****
******

In [8]:
i=6
while i>=0:
    print(i * "*")
    i-=1

******
*****
****
***
**
*

In [ ]:
# For loop

In [10]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [11]:
for item in range(6):
    print(item+1)

1
2
3
4
5
6

In [ ]:
# LIST in Python

In [12]:
marks= [95,98,97]
print(marks[1]) # 1 is the index number

98

In [13]:
marks= [95,98,97]
print(marks[-1]) # -1 index number, start counting from last number

97

In [14]:
marks= [95,98,97]
print(marks[0:2]) # if we want first two numbers only

[95, 98]

In [15]:
marks= [95,98,97]
for score in marks:
    print (score)

95
98
97

In [16]:
marks= [95,98,97]
marks.append(99)   # append is to add the new marks in the list
print(marks)

[95, 98, 97, 99]

In [17]:
marks= [95,98,97]
marks.insert(0,99)   # insert is to add the new marks in the start or in the middle of the list
print(marks)

[99, 95, 98, 97]

In [18]:
marks= [95,98,97]
marks.insert(0,99) 
print(99 in marks)  # to check whether 99 is present in out list or not

True

In [19]:
marks= [95,98,97]
marks.insert(0,99) 
print(len(marks))   # to find out the length of the list

4

In [ ]:
# use while loop to list the marks

In [20]:
marks =[95,98,97]

i=0
while i<len(marks):
    print(marks[i])
    i=i+1

95
98
97

In [25]:
marks =[95,98,97]

i=0
while i<len(marks):
    print(marks[i])
    i=i+1
    
marks.clear()   # to clear all the marks from the list
print(marks)

95
98
97
[]

In [ ]:
BREAK & CONTINUE

In [27]:
student=["ram","shyam","rishi","kam","tom"]

for student in student:
    if student == "kam":
        break;             #want to print the name till kam, we use break operator to break loop
    print(student)

ram
shyam
rishi

In [28]:
student=["ram","shyam","rishi","kam","tom"]  # square bracket is uesd for list

for student in student:
    if student == "rishi":
        continue;             #rishi took tc from school and shifted to other state, so dont want rishi name in the list
    print(student)

ram
shyam
kam
tom

In [ ]:
TUPLE Function --- # it will not allow any modification in the list( insert, append, replace etc)

In [31]:
marks=(95,98,97,97,97)    #() used for tuple - but () is not compulsury 

print(marks.count(98))     # to count  the no. of times same number repeated
print(marks.index(97))     # to find the index of the number

1
2

In [ ]:
SET structure

In [32]:
# {} used for sets

marks={95,98,97,97,97}

print(marks)
# in sets only unique value can be saved or exist
# in sets index does not exist -- we cannot find out the index number in the sets

{97, 98, 95}

In [33]:
marks={95,98,97,97,97}

for score in marks:
    print(score)

97
98
95

In [ ]:
Disctionary structure -- # store key value pairs

In [40]:
marks={"english" : 95, "chemistry" : 98}  # subject is KEY and marks is VALUE

print(marks["chemistry"])

98

In [41]:
marks={"english" : 95, "chemistry" : 98}  # subject is KEY and marks is VALUE

print(marks["chemistry"])

marks["physics"] = 96;  # add any subject and his value
print(marks)

98
{'english': 95, 'chemistry': 98, 'physics': 96}

In [42]:
marks={"english" : 95, "chemistry" : 98}  # subject is KEY and marks is VALUE

print(marks["chemistry"])

marks["physics"] = 96;  # add any subject and his value
print(marks)

marks["physics"] = 100   # physics marks changed
print(marks)

98
{'english': 95, 'chemistry': 98, 'physics': 96}
{'english': 95, 'chemistry': 98, 'physics': 100}